# Python artifacts
__pycache__/
*.py[cod]
*$py.class

# Distribution / Install
venv/
env/
.env

# Project Output (IMPORTANT)
output/
*.pcm
*.wav
*.mp3

# Editor temp files
studio_quick_edit.txt
.vscode/
.idea/
*.swp